section.features {
    background-color: $lightgray;
    padding-bottom: 0;

    h2 {
        margin-bottom: 4.5rem;
    }

    div.left_sided > div,
    div.right_sided > div {
        margin-bottom: 3rem;
        background-repeat: no-repeat;
    }


    div.left_sided > div {
        padding-right: 5rem;
        text-align: right;
        background-position: 41.3rem -0.4rem;

        &:first-of-type {
            background-image: url(../images/images/features/1.png);
        }
        &:last-of-type {
            background-image: url(../images/images/features/3.png);
        }

        p {
            text-indent: 2rem
        }
    }

    div.right_sided > div {
        padding-left: 5rem;
        text-align: left;
        background-position: -.3rem -0.4rem;

        &:first-of-type {
            background-image: url(../images/images/features/2.png);
        }
        &:last-of-type {
            background-image: url(../images/images/features/4.png);
        }
    }

    h4 {
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
    }

    div.middle_logo {
        background: url(../images/images/features/middlelogo.png) no-repeat;
        background-position: center 43%;
    }


    div.boost {
        padding: 1rem 5rem;
        background-color: #565c5c;
        p {
            color: #d0d0d6;
            font-size: 1.3rem;
            padding-top: .6rem;
        }
    }

}